<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>A quelle heure le timer doit-il finir?</h2>
    <input type="time" [(ngModel)]="finalHour" (change)="setFinalTime()">
    <h2>Combien de temps reste-t-il avant la fin des cours?</h2>
    <p *ngIf="time > 0; else timePassed">{{time}} secondes</p>
      <ng-template #timePassed>
        <p>Il est déjà passé {{finalTime.getHours()}}:{{finalTime.getMinutes()}} depuis {{time *-1}} secondes</p>
      </ng-template>
  </div>
</ion-content>
